# Activation du module de réécriture d'URL :
RewriteEngine on
#------------------------------------------------------------------------------------------

# POSTS.SHOW
# PATTERN: /posts/{id}/{slug}
# URL: index.php?posts=show&id=xxx
RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9\-]+).html$ index.php?posts=show&id=$1 [L]

# POSTS.FORM
# PATTERN: /posts/add/form.html
# URL: index.php?posts=form
RewriteRule ^posts/add/form.html$ index.php?posts=form [L]

# POSTS.ADD
# PATTERN: /posts/add/insert.html
# URL: index.php?posts=add
RewriteRule ^posts/add/insert.html$ index.php?posts=add [L]

# POSTS.EDIT
# PATTERN: /posts/id/slug-du-post/edit/form.html
# URL: index.php?posts=edit
RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9\-]+)/edit/form.html$ index.php?posts=edit&id=$1 [L]



#------------------------------------------------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]